*{
    box-sizing: border-box;
}
/* @font-face{
    font-family: 'Varela Round', sans-serif;
    src: url("../VarelaRound-Regular.ttf") format(woff);<!--sert à inserer une fonte télécharger au préalable
} */
body{
    font-family: 'Varela Round', sans-serif !important;
    letter-spacing: 0.0625em;
}

.bghead{
    background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.51),rgb(0, 0, 0, 1)),url("../images/bg-masthead.jpg");
    width: auto;
    height: 100vh;/*fait correspondre à la taille de l'écran*/
    background-size: cover;/*à parfaire,joue encore avec mais j'ai sauver avant de changer*/
}
.txt-wg{
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255,1),rgba(70, 68, 68,0.3));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 6.5rem;
    line-height: 6.5rem;

}
.btn{
    background-color: #60a39e;
}
.btn:hover{
    background-color: blue;
}
.txt-g{
    color: dimgray;
}
.txt-gb{
    color: lightgray;
}

#jb{
    background: none;
}
a{
    text-decoration: none!important;
}
a:hover{
    color: rgb(192, 192, 192);
}
span{
    color: cyan;
}

header p{
    font-size: 13px;
}
section p{
    font-size: 13px;
}
#projects p{
    color:rgba(255,255,255,.5);
}
.gris{
    color: rgba(0,0,0,.5)!important;
}

#about{
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 1),rgba(10, 10, 10, 0.85));
}

section{
    padding-top: 5rem;
}
#email{
    padding: 10rem 0;
    background-position-y: bottom;
}
#contact{
    background: #161616!important;
    padding-bottom: 5rem;
}
#about .img-fluid{
    max-width: 75%;
    height: auto;
}

.pd{
    padding-top: 150px;
}
.bor{
    border-left: solid cadetblue 6px;
    padding-left: 25px;
}

#projects hr{
    border-width: 5px;
    width: 8rem;
    border-color: lightskyblue;
}
#contact hr{
    border-width: 5px;
    width: 4rem;
    border-color: cadetblue;
}

.bg-foo{
    background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.51),rgb(22, 22, 22)),url("../images/bg-signup.jpg");
    max-width: 100%;
    height: auto;
}
.card{
    border-bottom: solid cadetblue 3px;
}
.contour{
    margin-top: 5rem;
}
.contour a{
    background:rgba(255,255,255,0.1);
    border-radius:100%;
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    color:rgba(255,255,255,.3)
}

footer{
    background: #161616;
    padding: 5rem 0;
}